<html>
	<body>
		<table border="1">
			<tr>
				<td>ID</td>
				<td>NOME</td>
			</tr>

			<tr>
				<td>1</td>
				<td>Livro de nodeJs</td>
			</tr>

			<tr>
				<td>2</td>
				<td>Livro de nodeJs 2</td>
			</tr>

			<tr>
				<td>3</td>
				<td>Livro de nodeJs 3</td>
			</tr>

		</table>
	</body>
</html>